    .site-header {
        background-color: #000249;  
    }

    .container {
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
    }

    .main-navigation .portfolio-navigation {

        width: auto;    
    }

    .header-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px;  
    }
    .header_menu {
        display: flex;
        gap: 100px;
        

    }
    .header-menu a {
        size: 20px;
        color: white;
    }
    .home-page {
        background-color: #000249;
        height: 100vh;
        padding: 20px;
    }
.content  {
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 position: absolute;
}

.content-hello {
font-family: Fira Code;
font-size: 28px;
font-weight: 400;
line-height: 35.28px;
text-align: center;
color: #FAF9F0;
;

}

.content-title {
    font-family: Montserrat;
    font-size: 60px;
    font-style: italic;
    font-weight: 700;
    line-height: 76.07px;
    text-align: center;
    color: #FAF9F0;
    
}

.content-text {
    font-family: Fira Code;
    font-size: 28px;
    font-weight: 400;
    line-height: 42.67px;
    text-align: center;
    color: #FAF9F0;
    
}

.content-social {
 display: flex;
 gap: 24px;
 justify-content: center;
}

.main-navigation .portfolio-navigation {
    color: #FAF9F0;
}


